<connectionStrings>
	<add name="NavEcommerceDBfirstEntities_Model2OnlineStore2" connectionString="metadata=res://*/Models.Model2OnlineStore2.csdl|res://*/Models.Model2OnlineStore2.ssdl|res://*/;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=NavEcommerceDBfirst;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
